<!-- <div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item">
      <a>
        <img
          src="https://www.pngitem.com/pimgs/m/178-1783030_online-shopping-logo-png-transparent-png.png"
          alt=""
          style="width: 57px"
        />
        <h6>All Products</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <img
          src="https://i.pinimg.com/600x315/5a/bd/9e/5abd9e90488ab0a183fe42f144599c1f.jpg"
          alt=""
        />
        <h6>Electronics</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <img
          src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Fashion/Diwali-Wave3/TEASER/TopBanner/Revised/PC_top-banner._CB450572186_.jpg"
          alt=""
        />
        <h6>Fashion</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <img
          src="https://www.quicklly.com/upload_images/blog/1602662265-best-indian-grocery-store-in-naperville-%E2%80%93-indiaco.jpg"
          alt=""
        />
        <h6>Grocery</h6>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList">
      <div class="card" style="width: 18rem">
        <img src="{{ item.urlToImage }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">
            {{ item.description }}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </ng-container>
  </div>
</div> -->

// this is add to cart project but not in use
